{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow rounded-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="card-title mb-0">Compose Message</h2>
                </div>
                <div class="card-body text-center">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="{{ form.receiver.id_for_label }}">To:</label>
                            <br/>
                            {{ form.receiver }}
                            {% if form.receiver.errors %}
                                <div class="invalid-feedback d-block">{{ form.receiver.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.subject.id_for_label }}">Subject:</label>
                            <br/>
                            {{ form.subject }}
                            {% if form.subject.errors %}
                                <div class="invalid-feedback d-block">{{ form.subject.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.message.id_for_label }}">Message:</label>
                            <br/>
                            {{ form.message }}
                            {% if form.message.errors %}
                                <div class="invalid-feedback d-block">{{ form.message.errors }}</div>
                            {% endif %}
                        </div>
                        <button class="btn btn-primary btn-block mt-4" type="submit">Send Message</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
